@model PetClinic.Web.InputModels.ReportsForm
@{
    ViewBag.Title = "Reports by Date";
}

<h2>@ViewBag.Title</h2>
<p>Choose date to view the reports.</p>

@using (Html.BeginForm("Reports", "Examinations", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.SearchDate)
                    @Html.TextBoxFor(model => model.SearchDate, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
                    @Html.ValidationMessageFor(model => model.SearchDate)
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-warning" style="margin-top:25px;margin-left:-18px;">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    @if (Model.ExaminationsResult != null)
    {
        if (Model.ExaminationsResult.Count() >= 1)
        {
            foreach (var Examination in Model.ExaminationsResult)
            {
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Examination.ExaminedPet.Name Examination</h3>
                            <a href="@Url.Action("Edit", "Examinations", new { id = @Examination.Id })" class="btn" style="background: white; float:right;margin:-21px -5px 0 0px;padding:2px 6px 2px 6px;">Edit</a>
                        </div>
                        <div class="panel-body">
                            <h4>Diagnosis:</h4>
                            <p>@Examination.Diagnosis</p>
                            <hr />
                            <strong>Is Sick:</strong> @Examination.IsSick
                            <hr />
                            <strong>Date:</strong> @Examination.Date
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-12">
                <p>There are no examinations on this date!</p>
            </div>
        }
    }
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <p style="width:400px;"><small>A bug with user time format may occur. The search input is set to search for day/month/year, but if your system is in other format you may need to manualy change the order if the date. For Example: month/day/year</small></p>
        </div>
    </div>
}

<script src="~/Scripts/datepicker/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({ dateFormat: 'dd/mm/yy' }); //Initialise any date pickers
    });
</script>