@model IEnumerable<PetClinic.Data.ViewModels.PetViewModel>

@foreach (var Pet in Model)
{
    <tr>
        <td><a href="@Url.Action("Edit", "Pets", new { id = @Pet.Id })">@Pet.Name</a></td>
        <td>@Pet.PetType</td>
        <td><a href="@Url.Action("Edit", "Owners", new { id = @Pet.OwnerId})">@Pet.Owner.Name</a></td>
    </tr>
}